[submodule "src/core/services/api"]
	path = src/core/services/api
	url = https://github.com/AsademLige/jester_api.git
[submodule "src/core/services/mini_app_fighting"]
	path = src/core/services/mini_app_fighting
	url = https://github.com/AsademLige/telegram-apps-fighting.git
